body {
    font-family: $sans;
    color: $dark;
    // background: #f5f5f5;
    -webkit-font-smoothing: antialiased;

    &.is-fixed {
        overflow: hidden;
    }
}

main {
    overflow: hidden;
}

.container {
    @include media-breakpoint-down(md) {
        padding-left: 30px;
        padding-right: 30px;
    }
}