h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: .5px;
}

h1 {
    font-size: 32px;
    letter-spacing: 1.5px;
    @include media-breakpoint-up(lg) {
        font-size: 40px;
        &.large {
            font-size: 48px;
        }
    }
}
h2 {
    font-size: 28px;
    @include media-breakpoint-up(lg) {
        font-size: 32px;
    }
}
h3 {
    font-size: 24px;
    @include media-breakpoint-up(lg) {
        font-size: 28px;
    }
}
h4 {
    font-size: 21px;
    @include media-breakpoint-up(lg) {
        font-size: 24px;
    }
}
h5, h6 {
    font-size: 18px;
}

p, span, div, a {
    font-weight: 300;
    letter-spacing: .5px;
}