.article {
    &__content {
        padding-top: 40px;
        padding-bottom: 50px;
        @include media-breakpoint-up(lg) {
            padding-top: 60px;
            padding-bottom: 80px;
        }
    }

    p a, span a, li a {
        color: $dark;
        text-decoration: underline;
    }
}

.template-article {
    .hw-imgtxt {
        border-top: 1px solid $dark;

        &__text {
            @include media-breakpoint-up(lg) {
                padding-bottom: 120px;
                padding-top: 80px;
            }
        }
    }
}