.template-index {
    .hw-imgtxt {
        @include media-breakpoint-up(md) {
            min-height: 500px;
            max-height: 800px;
            &__text {
                min-height: 500px;
                max-height: 800px;
            }
        }

        @include media-breakpoint-up(lg) {
            height: calc(100vh - 109px);
            &__text {
                height: calc(100vh - 109px);
            }
        }
    }
}