.c__btn {
    padding: 10px 70px 10px 25px;
    border: 1px solid $dark;
    border-radius: 3px;
    background: $white;
    color: $dark;
    position: relative;
    display: inline-block;
    transition: all ease 300ms;
    font-size: 16px;
    color: $dark;
    font-weight: 500;
    letter-spacing: 3px;
    text-transform: uppercase;

    &:after {
        content: '';
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 11px;
        background-image: url('arrow-small--black.svg');
        background-size: 20px;
        background-position: center;
        background-repeat: no-repeat;
        transition: right linear 100ms;
    }

    &:hover {
        text-decoration: none;
        color: inherit;

        &:after {
            right: 25px;
        }
    }

    &--dark {
        background: $dark;
        color: $white;

        &:after {
            background-image: url('arrow-small--white.svg');
        }

        &:hover {
            color: $white;
        }
    }
}