footer {
    padding: 100px 15px 12px;

    @include media-breakpoint-up(lg) {
        padding: 140px 0 45px;
    }

    .footer {

        &__socials {
            margin-bottom: 30px;

            .ig-wrap {
                .ig-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    border: 1px solid $dark;
                    background: transparent;
                    padding: 7px;
                    width: 31px;
                    height: 31px;
    
                    img {
                        width: 100%;
                        filter: invert(1);
                    }
                }

                p {
                    color: $dark;
                }

                &:hover {
                    text-decoration: none;

                    .ig-icon {
                        background: $dark;
                        
                        img {
                            filter: invert(0);
                        }
                    }
                }
            }
        }

        &__newsletter {
            margin-bottom: 50px;
            @include media-breakpoint-up(lg) {
                margin-bottom: 0;
            }

            p {
                text-transform: uppercase;
            }
        }
        
        &__links {
    
            .link {
                display: inline-block;
                margin: 0 40px 10px 0;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 14px;
                color: $dark;
                transition: all linear 100ms;

                @include media-breakpoint-up(lg) {
                    margin-right: 30px;
                }
    
                &:hover {
                    text-decoration: none;
                    opacity: .6;
                }
            }
        }
    
        &__logo {
            margin-top: 40px;

            @include media-breakpoint-up(lg) {
                margin-top: 20px;
            }

            img {
                max-width: 100px;
                margin-bottom: 5px;
            }
        }
    
        &__copyright {
            font-size: 11px;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin-top: 5px;
        }
    }
}