input[type=text],
input[type=number],
input[type=email],
textarea {
    width: 100%;
    border: 1px solid rgba($dark, .5);
    font-size: 14px;
    padding: 11px 12px;
    margin-bottom: 10px;
    
    &:focus, &:active, &:hover {
        border-color: $dark;
    }
}

input[type=submit] {
    width: 100%;
    border: 1px solid rgba($dark, .5);
    padding: 11px 12px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: $dark;
    color: $white;
    transition: all ease 200ms;

    &:hover {
        background: $white;
        color: $black;
    }
}

// Recaptcha check
.shopify-challenge__container form {
    padding-bottom: 125px;
}
.shopify-challenge__message {
    padding-top: 125px;
}