.c__label {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 4px 3px 4px 4px;
    background: $dark;
    color: $white;
    display: inline-block;
    margin-bottom: 30px;

    &--large {
        font-size: 14px;
        padding: 6px 5px 6px 6px;
    }
}

.c__marquee {
    position: absolute;
    width: 500vw;
    left: -100px;
    top: -38px;
    font-size: 75px;
    line-height: 1;
    letter-spacing: 7px;
    color: #dedede;
    text-transform: uppercase;
    mix-blend-mode: difference;
    margin-bottom: 0;
    
    @include media-breakpoint-up(md) {
        font-size: 90px;
        top: -46px;
    }
    @include media-breakpoint-up(lg) {
        top: -58px;
        font-size: 116px;
    }
}


.c__plus-minus {
    width: 20px;
    height: 20px;
    position: relative;

    .line-1 {
        width: 2px;
        height: 20px;
        background: $dark;
        top: 0px;
        left: 9px;
        position: absolute;
        transition: all ease 200ms;

        .is-active & {
            height: 0px;
        }
    }

    .line-2 {
        width: 20px;
        height: 2px;
        top: 9px;
        left: 0px;
        position: absolute;
        background: $dark;
    }
}